#include <iostream>

using namespace std;

int main ()
{
  int N, penultimo, ultimo, i, soma;
  
  penultimo = 0;
  ultimo = 1;
  i = 1;
  
  cin >> N;
  
  if (N == 0)
  {
  }
  
  else if (N == 1)
  {
    cout << penultimo;
  }
  
  else
  {
    cout << penultimo << " " << ultimo;
  
  
  while (i <= (N - 2))
  {
    
    soma = penultimo + ultimo;
  
   
    cout << " " << soma;
  
    
    penultimo = ultimo;
    ultimo = soma;
    soma = 0;
    
    i++;
  }
    
  }
  
  return 0;
}
